body {
  font-family: 'Lato', sans-serif;
}

h2 {
  color: #009eff;
  font-size: 25px;
}

h3 {
  color: #009eff;
  font-size: 20px;
}

nav {
  display: flex;
  gap: 40px;
}

a {
  color: #009eff;
  text-decoration: none;
  cursor: pointer;
}

footer > p > a {
  color: #009eff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline black;
}

footer {
  background-color: #ffe15d;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 700;
}

.container {
  display: flex;
  justify-content: center;
  column-gap: 50px;
  font-weight: 700;
  font-size: 30px;
  background-color: #eff5f5;
  padding: 100px 0;
}

.header {
  background-color: #ffe15d;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container .detail {
  width: 370px;
  color: #c539b4;
}

.container p {
  font-size: 20px;
  font-weight: 300;
  color: black;
}

.container img {
  height: 400px;
  width: auto;
}

.main-films {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: center;
  padding: 40px;
}

.movie-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  align-items: center;
  padding: 30px 10px;
  background-color: #eff5f5;
  /* stylelint-disable-next-line length-zero-no-unit */
  box-shadow: #009eff 0px 0px 10px;
}

.movie-image {
  border-radius: 5px;
  height: 400px;
  width: 280px !important;
}

.movie-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
  gap: 20px;
}

.like-button {
  background-color: #ffe15d;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  /* stylelint-disable-next-line length-zero-no-unit */
  box-shadow: #009eff 0px 0px 10px;
}

.like-button:hover {
  background-color: #009eff;
  /* stylelint-disable-next-line length-zero-no-unit */
  box-shadow: #ffe15d 0px 0px 10px;
}

.comment-button {
  background-color: #c539b4;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  /* stylelint-disable-next-line length-zero-no-unit */
  box-shadow: #009eff 0px 0px 10px;
}

.comment-button:hover {
  background-color: #009eff;
  /* stylelint-disable-next-line length-zero-no-unit */
  box-shadow: #c539b4 0px 0px 10px;
}
